.container-login{
    display: flex;
    border: 2px solid black;
    width: 25%;
    flex-direction: column;
    align-content: center;
    margin: 14% 35%;
    padding: 2em 2em;
    background-color: cornsilk;
    border-radius: 10px;
}



label{
display: inline-block;
margin-bottom: 0.5em;
}

#loginButton,#sign-up{
  display: flex;
    align-self: center;
    justify-content: space-around;
}


.form-login{
  
  display: flex;
  flex-direction: column;
  align-content: center;
 }

 .psw{        
  align-self: center;
} 