.container-login{
    display: flex;
    border: 2px solid black;
    width: 25%;
    flex-direction: column;
    align-content: center;
    /* margin-left: 35%;
    margin-top: 13%;
    margin-right: 40%; */
    margin: 14% 35%;
    padding: 2em 2em;
    background-color: cornsilk;
    border-radius: 10px;
}



/*@media screen and (max-width: 700px) and (min-width: 100px)  {
    .form-login input[type="email"],
    .form-login input[type="password"]{
      width: 100%;
    }
}*/



label{
display: inline-block;
margin-bottom: 0.5em;
}

@media screen and (max-width: 500px) and (min-width: 100px)  {
    #emailId,
    #pwd{
      width: 100%;
    }
}

@media screen and (max-width: 300px) and (min-width: 100px)  {
  /* .container-login,.form-login .d-flex{
    width: 100%; 
  }*/
  body{
    width: 100%; 
  }

 
}

.form-login{
  *margin: 0 0 0 2em; 
  display: flex;
  flex-direction: column;
  align-content: center;
 }
