.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    height: 42px;
    font-size: 21px;
}

/* @media screen and (max-width: 600px) {
    .navbar1 a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar1.responsive {position: relative;}
    .navbar1.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar1.responsive a {
      float: none;
      display: none;
      text-align: left;
    }
  } */

li:hover{
background-color: darkgray;

}

.navbar a{
    text-decoration: none;
    color: black ;
    
}

.navbar li{
    display:block;
    padding: 0 0.5em 0 0.5em;
    height: 42px;
    line-height: 42px;
}  


.list-unstylized{
     display: flex;
     *flex-direction: row;
     list-style-type: none;
     *padding:0;
     margin: 0 0 0 12px;
     
 } 

.list-last{
    list-style-type: none;
    display: flex;
    margin: 0 2em 0 0;
    
}


/* .navbar ul {
    display: inherit;
     list-style-type: none;
     padding: 0;
     margin: 0 0 0 2em;
     justify-content: space-between;
 } */
 

/* .navbar li:nth-child(4){
padding-left: 271%;
} */